.fire-particles {
  position: absolute;
  pointer-events: none;
  z-index: 6;
}

.particle {
  position: absolute;
  font-size: 0.8em;
  opacity: 0;
  animation: particleFade 1s ease-in-out infinite;
}

.particle-1 {
  animation-delay: 0s;
  left: 5px;
  top: 35px;
}

.particle-2 {
  animation-delay: 0.25s;
  left: 10px;
  top: 35px;
}

.particle-3 {
  animation-delay: 0.5s;
  left: 13px;
  top: 32px;
}

.particle-4 {
  animation-delay: 0.75s;
  left: 18px;
  top: 26px;
}

@keyframes particleFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
